
body {
    padding-top: 110px;
}

/* utilities */
.button {
    border-radius: 20px;
}

.card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
}

/* HEADER */
.brand .navbar-logo {
    background-color: black;
}

.brand a {
    cursor: pointer;
    color: black;
    font-weight: 600;
}

.brand a:hover {
    color: black;
    text-decoration: underline;
}

.brand a .check {
    margin-left: 5px;
}

.brand .btn-header {
    background-color: #363636;
    transition: transform .4s;
    border: 2px solid transparent
}

.brand .btn-header:hover {
    transform: scale(0.9); 
    box-shadow: 0 0 0 2px #363636; ;
    border: 2px solid white;
}

/* MAIN */

/* hero */
.main-content {
    overflow: hidden;
}

.main-content .hero {
    height: 600px;
    background-image: url('../img/jumbo-bg.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center 1rem;
}

.main-content .hero {
    color: white;
}

.main-content .content-hero {
    position: absolute;
    bottom: 5rem;
    right: 0;
}

.img-hero img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.text-hero .btn-hero {
    background-color: #cd3d0f;
    transition: transform .4s;
    border: 2px solid transparent
}
.text-hero .btn-hero:hover {
    transform: scale(0.9); 
    box-shadow: 0 0 0 2px #cd3d0f;
    border: 2px solid black;
}

/* section-1 */ 
.box {
    border-radius: 20px;
    cursor: pointer;
    border: 3px solid transparent;
}

.box:hover {
    border: 3px solid #0d6efd;
    border-radius: 20px;
}

.box img {
    border-radius: 20px;
    transition: transform .1s
}

.box img:hover {
    transform: scale(0.95); 
}

/* section-2 */
.title-2 p:first-child {
    color: #64b4e2;
    text-transform: uppercase;
}

.title-2 p:last-child {
    color: #787878;
    font-size: 1rem;
    font-weight: 500;
}

/* section-3 */
.title-3 p {
    color: #787878;
    font-size: 1rem;
    font-weight: 500;
}

.bt-3 {
    transition: transform .4s;
    border: 2px solid transparent
}

.bt-3:hover {
    transform: scale(0.9); 
    box-shadow: 0 0 0 2px #0d6efd;
    border: 2px solid white;
}
/* section-4 */
.box-4 {
    cursor: pointer;
    border-bottom: 3px solid transparent
}

.box-4:hover {
    border-bottom: 3px solid #2787d5;
}

.box-4 p {
    color: #787878;
    font-weight: 500;
}

/* section-5 */
.main-content .section-5 {
    height: 600px;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-content .section-5 {
    color: white;
}

.main-content .content-section-5 {
    position: absolute;
    bottom: 4rem;
    right: 0;
}

.img-section-5 img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.text-section-5 .btn-section-5 {
    background-color: #cd3d0f;
    transition: transform .4s;
    border: 2px solid transparent
}

.text-section-5 .btn-section-5:hover {
    transform: scale(0.9); 
    box-shadow: 0 0 0 2px #cd3d0f;
    border: 2px solid black;
}


/* SECTIION-6 */
.section-6 {
    background-color:#1f1f1f;
    color: white;
}

.box-6 img {
    border-radius: 20px;
}

.box-6 p {
    font-size: 1rem;
    font-weight: 500;
}

/*section-7 */
.section-7 p {
    color: #787878;
    font-size: 1.2rem;
    font-weight: 500;
}

/* section-8 */
.section-8 p {
    color: #787878;
    font-size: 1.2rem;
    font-weight: 500;
}

/*section-9*/
.section-9 {
    background-color: #bebcbb;
}

.section-9 .box-plus {
    padding: 0px 100px 0 50px;
}

.box-plus img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-9 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-9 .btn-9 {
    background-color:#d9dadc;
    border-color: #d9dadc;
    transition: transform .4s;
    border: 2px solid transparent
}

.section-9 .btn-9:hover {
    color: #0d6efd;
    transform: scale(0.9); 
    box-shadow: 0 0 0 2px #d9dadc;
    border: 2px solid #0d6efd;
}

/* section-12 */
.section-12 {
    background-color:#161c3b;
    color: white;
}

.section-12 .box-plus {
    padding: 0px 100px 0 50px;
}

.box-plus img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-12 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-12 .btn-9 {
    background-color:#d9dadc;
    border-color: #d9dadc;
    color: black;
    transition: transform .4s;
    box-shadow: 0px 0px 20px 0px transparent;
    border: 2px solid transparent;
}

.section-12 .btn-9:hover {
    transform: scale(0.9); 
    box-shadow: 0 0 0 2px #d9dadc;
    border: 2px solid black;
}

/* section-social */
.box-13 {
    cursor: pointer;
    
}

.box-13:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0, .3);
}

/* FOOTER */
/* section-1 */
footer {
    background-color: #00439c;
    color: white;
}

footer ul {
    list-style: none;
    cursor: pointer;
}

footer ul li:hover {
    text-decoration: underline;
}

.box-14 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* section-2 */
.box-16 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-2 span {
    text-decoration: underline;
}



